<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Siddhi-Map-CSV-Test-Suite">
    <test name="Siddhi-map-csv-tests" enabled="true" preserve-order="true" parallel="false">
        <classes>
            <class name="org.wso2.extension.siddhi.map.csv.sinkmapper.TestCaseOfCSVSinkMapper"/>
            <class name="org.wso2.extension.siddhi.map.csv.sourcemapper.TestCaseOfCSVSourceMapper"/>
        </classes>
    </test>
</suite>